body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.label {
    background-color: #3b80d4;
    font-size: 12px;
    color: #fff;
    margin: 4px;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    font-weight: 500;
}

#team_card {
  padding: 10px;
  width: 450px;
}

#team_card .content_card {
  background-color: #d8e0e5;
  display: inline-block;
  width: 200px;
}

.card .content_card {
  background-color: #d8e0e5;
  height: 24px;
  line-height: 22px;
  padding-left: 10px;
  border-radius: 10px;
  margin: 5px;
  
}

.bold_text {
  font-weight: 500;
}

.grid_container {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 5px;
  width: 100%;
}

.card {
  background: #ebeff2;
  height: 100%;
  min-width: 250px;
  border-radius: 5px;
  margin: 10px;
}


.card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}